<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperAssist.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9DD43283C3C024D58E32A2365C2345A4C561D5A5</string>
				<key>dateExpires</key>
				<string>10/12/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DD43283C3C024D58E32A2365C2345A4C561D5A5</string>
						<key>dateExpires</key>
						<string>10/12/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GE8BT8LF5K</string>
						<key>name</key>
						<string>JUSPAY TECHNOLOGIES PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GE8BT8LF5K.in.juspay.hyperassist</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GE8BT8LF5K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>hyperAssist.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f35ec16c-6844-4abb-bbde-ae66930986d0</string>
				<key>dateExpires</key>
				<string>10/12/25</string>
				<key>name</key>
				<string>HyperAssist In House Distribution</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GE8BT8LF5K</string>
				<key>name</key>
				<string>JUSPAY TECHNOLOGIES PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
